<!-- Desktop / Tablet View -->
<div class="d-none d-md-block text-center sticky-top">
    <img src="/images/Profile.png" alt="Profile picture" class="img-fluid profile">
    <h4 class="fw-bold">Prince Asumadu</h4>
    <p class="text-muted small">
        Graduate Student
    </p>

    <ul class="list">
        <li><span class="icon"><img src="/images/svg/location.svg" alt="location"></span>
            Kumasi, Ghana
        </li>
        <li><a href="mailto:pasumadu07@gmail.com">
                <span class="icon"><img src="/images/svg/email.svg" alt="email"></span>
                Email</a></li>
        <li><a href="https://www.linkedin.com/in/eurus08">
                <span class="icon"><img src="/images/svg/linkedin.svg" alt="linkedin"></span>
                LinkedIn</a></li>
        <li><a href="https://github.com/eurus08">
                <span class="icon"><img src="/images/svg/github.svg" alt="github"></span>
                GitHub</a></li>
        <li><a href="https://t.me/eurus08">
                <span class="icon"><img src="/images/svg/telegram.svg" alt="telegram"></span>
                Telegram</a></li>
    </ul>
</div>

<!-- Mobile View (Non-sticky) -->
<div class="d-md-none">
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <img src="/images/Profile.png" alt="Profile picture" class="rounded-circle me-3"
                style="width: 60px; height: 60px;">
            <div>
                <h6 class="mb-0">Prince Asumadu</h6>
                <small class="text-muted">Graduate Student</small>
            </div>
        </div>

        <!-- Right: Contact Button with Dropdown -->
        <div class="dropdown">
            <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">Contact</button>
            <ul class="dropdown-menu list dropdown-menu-end">
                <li><span class="icon"><img src="/images/svg/location.svg" alt="location"></span>
                    Kumasi, Ghana</li>
                <li><a href="mailto:pasumadu07@gmail.com">
                        <span class="icon"><img src="/images/svg/email.svg" alt="email"></span>
                        Email</a></li>
                <li><a href="https://www.linkedin.com/in/eurus08">
                        <span class="icon"><img src="/images/svg/linkedin.svg" alt="linkedin"></span>
                        LinkedIn</a></li>
                <li><a href="https://github.com/eurus08">
                        <span class="icon"><img src="/images/svg/github.svg" alt="github"></span>
                        GitHub</a></li>
                <li><a href="https://t.me/eurus08">
                        <span class="icon"><img src="/images/svg/telegram.svg" alt="telegram"></span>
                        Telegram</a></li>
            </ul>
        </div>
    </div>
</div>
